<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileServer.Application.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FileServer.Application.Service.Properties.Settings>
            <setting name="ClientRoute" serializeAs="String">
                <value>http://www.mocky.io/v2/5808862710000087232b75ac/</value>
            </setting>
            <setting name="PolicyRoute" serializeAs="String">
                <value>http://www.mocky.io/v2/580891a4100000e8242b75c5/</value>
            </setting>
        </FileServer.Application.Service.Properties.Settings>
    </applicationSettings>
</configuration>